Assignement4_Q1/Ass4_Q1-2/App_WebReferences/StudServiceReference/StudWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insert_stud">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insert_studResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insert_studResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="stud_list">
        <s:complexType />
      </s:element>
      <s:element name="stud_listResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stud_listResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="insert_studSoapIn">
    <wsdl:part name="parameters" element="tns:insert_stud" />
  </wsdl:message>
  <wsdl:message name="insert_studSoapOut">
    <wsdl:part name="parameters" element="tns:insert_studResponse" />
  </wsdl:message>
  <wsdl:message name="stud_listSoapIn">
    <wsdl:part name="parameters" element="tns:stud_list" />
  </wsdl:message>
  <wsdl:message name="stud_listSoapOut">
    <wsdl:part name="parameters" element="tns:stud_listResponse" />
  </wsdl:message>
  <wsdl:portType name="StudWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insert_stud">
      <wsdl:input message="tns:insert_studSoapIn" />
      <wsdl:output message="tns:insert_studSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="stud_list">
      <wsdl:input message="tns:stud_listSoapIn" />
      <wsdl:output message="tns:stud_listSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StudWebServiceSoap" type="tns:StudWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert_stud">
      <soap:operation soapAction="http://tempuri.org/insert_stud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stud_list">
      <soap:operation soapAction="http://tempuri.org/stud_list" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StudWebServiceSoap12" type="tns:StudWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert_stud">
      <soap12:operation soapAction="http://tempuri.org/insert_stud" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stud_list">
      <soap12:operation soapAction="http://tempuri.org/stud_list" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudWebService">
    <wsdl:port name="StudWebServiceSoap" binding="tns:StudWebServiceSoap">
      <soap:address location="http://localhost:49866/StudWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="StudWebServiceSoap12" binding="tns:StudWebServiceSoap12">
      <soap12:address location="http://localhost:49866/StudWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>